.feedback {
  position: relative;
  padding-bottom: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6;
  }
  .feedback__title,
  .feedback__info {
    text-align: center;
  }
  .feedback__title {
    margin-bottom: 2rem;
    max-width: 44.8rem;

    font: $title-md;
    color: #0B132A;
  }

  .feedback__info {
    margin-bottom: 6rem;
    max-width: 55.5rem;

    font: $paragraph-md;
    color: #4F5665;
  }
  .carousel-inner {
    padding-left: 10%;
    margin-bottom: 6rem;
  }
  .carousel-item {
    padding-right: 0;
    position: relative;
    right: -1rem;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;
  }
  .feedback__item {
    height: 23rem;
    padding: 3rem;

    border: 2px solid #DDDDDD;
    border-radius: 10px;
    &:hover {
      border: 2px solid #F53838;
    }
  }
  .feedback__user-info {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  .feedback__user-assessment {
    position: absolute;
    right: 0;
    padding-right: 2.4rem;

    background: url(../../img/star.png) right center no-repeat;
    font: $paragraph-md;
    color: #0B132A;
  }
  .feedback__user-photo {
    margin-right: 2rem;
    width: 5rem;
    height: 5rem;
  }
  .feedback__user-name {
    font: $paragraph-sm;
    color: #4F5665;
    margin-bottom: 2.65rem;
  }
  .feedback__user-name strong {
    font: $title-sm;
    color: #0B132A;
  }
  .feedback__text {
    font: $paragraph-md;
    line-height: 3rem;
    color: #0B132A;
  }
  .carousel {
    position: relative;
  }
  .carousel-indicators {
    position: absolute;
    left: 0;
    bottom: -30px;

    justify-content: flex-start;

    margin: 0;
    margin-left: 10%;
  }
  li.carousel-indicators__indicator {
    margin-right: 2.3rem;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 50%;

    background: #DDE0E4;
    opacity: 1;

    &.active {
      width: 4.5rem;
      border-radius: 1rem;

      background: #F53838;
    }
    transition: 0.3s;
  }
  .button_wrapper {
    width: 14rem;
    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 34rem;
    right: 10%;

  }
  .fedback__btn {
    width: 6rem;
    height: 6rem;
    
    border: 2px solid #F53838;
    border-radius: 50%;
    background: transparent;
    font: 400 2.5rem "Rubik", sans-serif;
    color: #F53838;
    &:hover {
        background: #F53838;
        box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
        color: #FFFFFF;
        cursor: pointer;
    }
    &:focus {
      outline: none;
    }

  }
  // .next {
  //   background: #F53838;
  //       color: #FFFFFF;
  //       &:hover {
  //         box-shadow: 0 0 8px 0 #961f1f;
  //         cursor: pointer;
  //     }
  // }




  @media (max-width: 1200px) {
    .feedback__user-info {
      flex-direction: column;
    }
    .feedback__item {
      height: auto;
    }
  }
  @media (max-width: 720px) {
    .row {
      grid-template-columns: repeat(1, 80%);
      grid-row-gap: 5rem;
    }
    .feedback__user-info {
      flex-direction: row;
    }
   
  }
  @media (max-width: 450px) {
    .button_wrapper {
      position: relative;
      bottom: 0rem;
      top: 8rem;
      left: 0;
      right: 0;
  }
  
    }

  