.get-started {
    padding: $content-padding;
    padding-top: 12.7rem;
}
.get-started__contentWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}
.get-started__title {
    font: 500 5rem "Rubik", sans-serif;
    margin-bottom: 2rem;
}
.get-started__info {
    margin-bottom: 5rem;

    font: 400 1.6rem "Rubik", sans-serif;
    line-height: 3rem;

    color: #4F5665;
}
.get-started__btn {
    @include red-btn;
}
.get-started__img {
    width: 50%;
    height: 31.68%;
}
.achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3.72rem 0;
    margin-bottom: 9.5rem;
    border-radius: 10px;
    box-shadow: 0 10px 22px -4px #c5bebe;
}
.achievements__item {
 
    border-right: 2px solid #EEEFF2;
    padding:6rem 13.4rem 6rem 9.15rem;
   
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: left;
    &:last-of-type {
        border: none;
    }
}
.achievements__icon {
    padding-right: 3.65rem;
}
.achievements__num {
    margin-bottom: 0.5rem;
    font: 700 2.5rem "Rubik", sans-serif;
}
.achievements__name {
    font: 400 2rem "Rubik", sans-serif;
}