.get-started {
    padding: $content-padding;
    padding-top: 12.7rem;
}
.get-started__contentWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}
.get-started__title {
    font: 500 5rem "Rubik", sans-serif;
    margin-bottom: 2rem;
}
.get-started__info {
    margin-bottom: 5rem;

    font: 400 1.6rem "Rubik", sans-serif;
    line-height: 3rem;

    color: #4F5665;
}
.get-started__btn {
    @include red-btn;
}
.get-started__img {
    width: 50%;
    height: 31.68%;
}
.achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3.72rem 0;
    border-radius: 10px;
    box-shadow: 0px 30px 70px 0px #cecece;
}
.achievements__item {
 
    border-right: 2px solid #EEEFF2;
    padding:6rem 0;
   
    display: flex;
   
    justify-content: center;
    align-items: center;
    text-align: left;
    &:last-of-type {
        border: none;
    }
}
.achievements__icon {
    padding-right: 3.65rem;
}
.achievements__name {
    font: 400 2rem "Rubik", sans-serif;
    color: #4F5665;
}
.achievements__name b {
    margin-bottom: 0.5rem;
    font: 700 2.5rem "Rubik", sans-serif;
    color: #0B132A;
}




@media (max-width: 1110px) {
   .get-started__contentWrapper {
    flex-direction: column-reverse;
      align-items: center;
   }
   .get-started__content {
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
   }
   .get-started__img {
    //    display: block;
       margin-bottom: 3rem;
   }
 
}
@media (max-width: 870px) {
    .achievements {
        grid-template-columns: repeat(1, 80%);
        justify-content: center;
    }
    .achievements__item {
        border-right: none;
        border-bottom: 2px solid #EEEFF2;
    }
}