.header {
    padding: $content-padding;
    padding-top: 5rem;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding: 0.6rem 0 0.6rem 4.5rem;

    background: url(../../img/logo-icon.png) left no-repeat;
    background-size: 3.5rem 3.623rem;

    font: 500 2rem "Rubik", sans-serif;
}
.logo_bold {
    font: 700 2rem "Rubik", sans-serif;
}
.nav__item {
    padding: 10px;
    font: $paragraph-md;
    text-decoration: none;
    color: #4F5665;
  }
  .nav__item:hover {
    color: #000;
    text-decoration: none;
  }
  .authorisation {
      width: 24rem;
  }
  .authorisation__signIN {
    margin-right: 1rem;
    padding: 6px;
    font: 500 1.6rem "Rubik", sans-serif;
    
    color: #0B132A;
    background: transparent;
    
    
    border: 1px solid transparent;
    border-radius: 10px;

    &:hover {
      border: 1px solid #0b132a;
    }
  }
  

  .authorisation__signUP {
    @include transparent-btn;
  }
 
  #header__burger-toggle {
    position: absolute;
    top: -100%;

    opacity: 0;
  }
  .header__burger-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 58px;
    // left: calc(100% / 2 + 13px);
    right: 4.5rem;
  
    
    width: 26px;
    height: 26px;
    
    cursor: pointer;
    z-index: 1;
    opacity: 0;
  }
  
  .header__burger-btn > span,
  .header__burger-btn > span::before,
  .header__burger-btn > span::after {
    display: block;
    position: absolute;
    
    width: 100%;
    height: 2px;
    
    background-color: #4F5665;
  }
  .header__burger-btn > span::before {
    content: '';
    top: -8px;
  }
  .header__burger-btn > span::after {
    content: '';
    top: 8px;
  }
 
  @media (max-width: 1110px) {
    .header__burger-btn {
      opacity: 1;
    }
    .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    visibility: hidden;
    padding: 100px 0 30px 0;
    top: -100%;
    left: 0;
    transition-duration: 1s;
  }
    
  #header__burger-toggle:checked ~ .header__burger-btn > span {
    transform: rotate(45deg);
  }
  #header__burger-toggle:checked ~ .header__burger-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #header__burger-toggle:checked ~ .header__burger-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #header__burger-toggle:checked ~ .nav {
    visibility: visible;
    top: 0;
    background: #f9f8f8;
    -webkit-box-shadow: 0 4px 9px 0 #a2b78a;
    box-shadow: 0 4px 9px 0 #d1d4ce;
    text-align: center;
  }
  .header__burger-btn > span,
  .header__burger-btn > span::before,
  .header__burger-btn > span::after {
    transition-duration: 0.7s;
  }
  .nav {
    transition-duration: 1s;
  }
  .nav__item {
    transition-duration: 0.5s;
  }
    
    
  }
  @media (min-width: 581px) and (max-width: 768px) {
    .header {
        
        justify-content: space-around;
    
    }
  }
  @media (max-width: 580px) {
    .header {
        justify-content: flex-start;
    }
    .authorisation {
        display: none;
    }
    .header__burger-btn {
        left: auto;
        right: 4.5rem;
    }
    }

  