.network {
  padding-bottom: 12.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6;
  }
  .network__title,
  .network__info {
    text-align: center;
  }
  .network__title {
    max-width: 384px;
    margin-bottom: 2rem;
    
    font: $title-md;
    color: #0B132A;
  }
  .network__info {
    max-width: 55.5rem;
    margin-bottom: 15.5rem;
    
    font: $paragraph-md;
    color: #4F5665;
  }
  .network__info strong{
    font: 500 16px 'Rubik', sans-serif;
  }
  
  .map {
    width: 73%;
    height: 37%;
    max-width: 106rem;
    max-height: 53.8rem;
    
    margin-bottom: 10rem;
  }
  .map__img {
    width: 100%;
  }
  .partners {
    width: 79%;
    max-height: 53.8rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .partners__item {
     padding: 0 2rem;
     width: 19rem;
     height: 6rem;
     &:nth-of-type(3) {
       opacity: 0.5;
     }
  }

  @media (max-width: 1110px) {
    .partners__item {
      padding-top: 2rem;
   }
  }