.plans {
    padding: 8rem 12% 15rem 15%; 
    background: #F6F6F6;
  }
  .plans__title,
  .plans__info {
    text-align: center;
  }
  .plans__title {
    margin-bottom: 2rem;
    font: $title-md;
    color: #0B132A;
  }
  .plans__info {
    margin-bottom: 6rem;
    font: $paragraph-md;
    color: #4F5665;
  }
  .plans__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;
   justify-items: center;
    
  }
  .plans__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 200px;
    padding-top: 7.9rem;
    box-sizing: border-box;
    padding-bottom: 5rem;
    
    border: 2px solid #DDDDDD;
    border-radius: 10px;
  }
  .active-plan {
    border: 2px solid #F53838;

    .plans__btn {
      @include transparent-btn;
      width: 17.7rem;
      background: #F53838;
      color: #FFFFFF;
      &:hover {
        box-shadow: 0 0 8px 0 #961f1f;
      }
    }
  }
  .plans__img {
    display: block;
    max-width: 14.5rem;
    height: 165px;
    
    margin-bottom: 3rem;
    
  }
  .plans__plan-name {
    margin-bottom: 3rem;
    font: $title-sm;
    color: #0B132A;
  }
  .plans__services {
    height: 230px;
    margin-bottom: 5rem;
    list-style-type: none;
    
    font: $paragraph-sm;
    color: #4F5665;
  }
   .plans__service-item {
    margin-bottom: 1rem;
    padding-left: 4rem;

    background: url(../../img/tick.png) no-repeat left center;
    font: $paragraph-sm;
    line-height: 3rem;
     
    }
  .plans__price {
    font: 400 25px 'Rubik', sans-serif;
    color: #4F5665;
    margin-bottom: 2rem;
  }
  .plans__price > strong {
    font: 500 25px 'Rubik', sans-serif;
    color: #0B132A;
    
  
  }
  .plans__btn {
    @include transparent-btn;
    width: 17.7rem;
  }
  
  
  
  @media (max-width: 768px) {
   
    .plans {
    padding: 5%; 
  }
    .plans__wrapper {
    grid-template-columns: 100%;
     grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 2rem;
    }
    .plans__item {
      width: 70%;
    }
   
    
    
  }