@import 'components/reset.scss';
@import 'components/variables.scss';
@import 'mixins.scss';
@import 'extands.scss';
@import 'components/nav.scss';


p {
    font: $p-font;
    background: $p-bg-color;
    color: $p-color;
}
.reset {
    @include btn (250px, 50px);
}
.delete {
    @include btn (150px, 35px);
}
.buy {
    @include btn (100%, 50px);
    
}
.hey {
    @extend %message-shared;
    width: 600px + 60px;
}