@mixin btn ($width, $height) {
    width: $width;
    height: $height;
    background-color: rgb(238, 186, 109);
    color: rgb(68, 39, 13);
    font: 600 24px Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    margin: 10px;
    &:hover {
        cursor: pointer;
        background-color: rgb(236, 172, 74);
    }
}