$content-padding: 0 10%; 

$title-md: 500 3.5rem "Rubik", sans-serif;
$title-sm: 500 1.8rem "Rubik", sans-serif;
$paragraph-md: 400 1.6rem "Rubik", sans-serif;
$paragraph-sm: 400 1.4rem "Rubik", sans-serif;

$black: #0B132A;
$gray: #4F5665;


@mixin red-btn {
    width: 25rem;
    height: 6rem;
    border: none;
    border-radius: 10px;
    background: #F53838;
    font: 700 1.6rem "Rubik", sans-serif;
    color: #FFFFFF;
    &:hover {
        box-shadow: 0 0 8px 0 #961f1f;
        cursor: pointer;
    }
}
@mixin transparent-btn {
    width: 15rem;
    height: 4.5rem;
    border: 1px solid #F53855;
    border-radius: 50px;
    background: transparent;
    font: 500 1.6rem "Rubik", sans-serif;
    color: #F53855;
    &:hover {
        background: #F53838;
        color: #FFFFFF;
        cursor: pointer;
    }
}
