<!DOCTYPE html>
html(lang="en")
    include head.pug
    body
        nav
            ul
                li Home
                li About us
                li History
                li Map
        p Hi there!
        include main.pug
        button(class='reset') Reset
        button(class='delete') delete
        button(class='buy') buy
        p(class='hey') hey-hey-hey
        include footer.pug
        script(src="../js/script.js")
