@media (max-width: 1110px) {
    .header__burger-btn {
      opacity: 1;
    }
    .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    visibility: hidden;
    padding: 100px 0 30px 0;
    top: -100%;
    left: 0;
    transition-duration: 1s;
  }
    
  #header__burger-toggle:checked ~ .header__burger-btn > span {
    transform: rotate(45deg);
  }
  #header__burger-toggle:checked ~ .header__burger-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #header__burger-toggle:checked ~ .header__burger-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #header__burger-toggle:checked ~ .nav {
    visibility: visible;
    top: 0;
    background: #f9f8f8;
    -webkit-box-shadow: 0 4px 9px 0 #a2b78a;
    box-shadow: 0 4px 9px 0 #d1d4ce;
    text-align: center;
  }
  .header__burger-btn > span,
  .header__burger-btn > span::before,
  .header__burger-btn > span::after {
    transition-duration: 0.7s;
  }
  .nav {
    transition-duration: 1s;
  }
  .nav__item {
    transition-duration: 0.5s;
  }
    
    
  }
  